@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body{
    font-family: 'Poppins', sans-serif;
}

.back{
    background-color: burlywood;
}

.tamanho_img{
    width: 210px;
    height: 210px;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.img-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.estilo_img{
    width: 60px;
    height: 60px;
}